.App {
  text-align: center;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ededdd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid {
  margin: 50px 0 0px 0;
}

.gridChild {
  border: 3px none;
  border-radius: 15%;
  padding: 25px;
  background-color: #444053;
  width: 20%;
  color: #f7f7f7;
}

.gridChild > p {
  font-size: 16px;
}

.gridChild:hover {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.quote-component {
  max-width: 40%;
  padding: 15px;
  background-color: #444053;
  color: #f7f7f7;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.button {
  background-color: #444053;
  color: #f7f7f7;
}

.form-label {
  font-size: 17px;
  margin-bottom: 15px;
}

